<div class="game-container">
  <div class="chessboard">
    <div *ngFor="let row of board; let i = index" class="row">
      <div *ngFor="let cell of row; let j = index"
           class="cell"
           (click)="onCellClick(i, j)"
           [ngClass]="{'highlighted': cell.isHighlighted, 'white-cell': (i + j) % 2 === 0, 'black-cell': (i + j) % 2 !== 0}">
        <div *ngIf="knightPosition?.x === i && knightPosition?.y === j" class="knight" [ngClass]="{'moving': isMoving}">
          <img [src]="isMoving ? 'assets/moved.png' : 'assets/stoped.png'" alt="Knight" style="width: 40px; height: 40px;">
        </div>
        <span *ngIf="cell.number !== null && !(knightPosition?.x === i && knightPosition?.y === j)" class="number">{{ cell.number }}</span>
      </div>
    </div>
  </div>
  <button class="reset-button" (click)="resetGame()">Сбросить игру</button>
</div>
