body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Занимает всю высоту экрана */
  margin: 0; /* Убираем отступы */
  background-color: #f0f0f0; /* Цвет фона страницы */
}

.game-container {
  display: flex;
  flex-direction: column; /* Вертикальное выравнивание */
  align-items: center; /* Центрируем содержимое по горизонтали */
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  margin: auto; /* Центрируем доску */
  border: 0px solid #000; /* Добавляем рамку вокруг доски */
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "8bit";
  font-size: 24px; /* Увеличиваем размер шрифта для чисел */
  border: 1px solid #000; /* Рамка для клеток */
}

.white-cell {
  background-color: white; /* Белые клетки */
  color: black; /* Числа на белых клетках черные */
}

.black-cell {
  background-color: black; /* Черные клетки */
  color: white; /* Числа на черных клетках белые */
}

.highlighted {
  background-color: yellow; /* Подсветка доступных ходов */
}

.reset-button {
  margin-top: 20px; /* Отступ сверху для кнопки сброса */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 26px; /* Размер шрифта для кнопки */
  cursor: pointer; /* Указатель при наведении */
  font-family: "8bit";
}

@font-face {
	font-family: "8bit";
	src: url("./../../fonts/Visitor Rus.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;

  }
